.newsletter{
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
  gap: 30px;
}
.newsletter h1{
  color: #454545;
  font-size: 55px;
  font-weight: 600;
}
.newsletter p{
  color: #454545;
  font-size: 20px;
}
.newsletter div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  width: 70px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
}
.newsletter input {
  width: 500px;
  padding: 12px 15px;
  margin-left: 30px;
  border: 2px solid #ff6f61;
  border-radius: 25px;
  outline: none;
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(255, 111, 97, 0.3);
}

.newsletter input::placeholder {
  color: #aaa;
  font-style: italic;
  transition: color 0.3s;
}

.newsletter input:focus {
  border-color: #ff3b2f;
  box-shadow: 0 4px 12px rgba(255, 59, 47, 0.5);
}

.newsletter input:hover {
  border-color: #ff3b2f;
}

.newsletter div button{
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background-color: black;
  color: white;
  cursor: pointer;
}